#tutorial{
	height: 174px;
	width : 171px;

	position: fixed;
	left: 0%;
	bottom: 0%;
    
    z-index: 4001;
}

#default_sprite{
	height: 174px;
	width : 171px;

	position: fixed;
}

#tutorial-skipButton{
	position: fixed;
	left: 90%;
	bottom: 1%;

	background-color: black;
}

#tutorial-text{
	position: absolute;

	color: red;
}

.div-tuto-step_1{
	height: 385px;
	width : 373px;

	position: relative;
}