#tutorial{
	height: 174px;
	width : 171px;

	position: fixed;
	left: 0%;
	bottom: 0%;
    
    z-index: 4001;
}

#default_sprite{
	height: 174px;
	width : 171px;

	left: 0%;
	bottom: 50px;
}

#tutorial-skipButton{
	position: absolute;
	left: 70%;
	bottom: 48%;

	color: darkblue;

	font-style: italic;

	z-index: 5000;
}

#tutorial-text{
	position: absolute;
	left: 30%;
	bottom: 75%; /*60% to be on the middle of the bubble*/

	font-size: 20px;

	z-index: 5000;
}

.div-tuto-step_1{
	height: 385px;
	width : 373px;

	position: fixed;
	left: 0%;
	bottom: 50px;
}

.div-tuto-step_2{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_3{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_4{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_5{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_6{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_7{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_8{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_9{
	height: 385px;
	width : 373px;

	position: relative;
}