#tutorial{
	height: 174px;
	width : 171px;

	position: fixed;
	left: 0%;
	bottom: 0%;
    
    z-index: 4001;
}

#default_sprite{
	height: 174px;
	width : 171px;
}

#tutorial-skipButton{
	position: fixed;
	left: 90%;
	bottom: 1%;

	background-color: black;
}

#tutorial-text{
	position: absolute;

	font-size: 14px;
}

.div-tuto-step_1{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_2{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_3{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_4{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_5{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_6{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_7{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_8{
	height: 385px;
	width : 373px;

	position: relative;
}

.div-tuto-step_9{
	height: 385px;
	width : 373px;

	position: relative;
}