<div id="Map-Footer">
<br>
 <h4 class="_14">Follow us on</h4>
 <br>
     <ul class="social-icons">
         <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
     <br>
 <h4 class="_14"> © Copyright 2018 RGU Project Culture </h4>
</div>
<a id="Country"></a>
 <script type="text/javascript" src="http://leafletjs.com/examples/map-panes/eu-countries.js"></script>
 <script type="text/javascript" src="../js/Map.js"></script>
 <script type="text/javascript" src="js/countryModal.js"></script>
 <script type="text/javascript" src="js/login.js"></script>
