<div id="Map-Footer">
<br>
 <h4 class="_14">Follow us on</h4>
 <br>
 <!-- This is all of the social media icons in the footer -->
     <ul class="social-icons">
         <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
         <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
     <br>
     <!-- Copyright information-->
 <h4 class="_14"> © Copyright 2018 RGU Project Culture </h4>
</div>
<a id="Country"></a>
<!--All the javascript files that we need to run in the footer -->
 <script type="text/javascript" src="http://leafletjs.com/examples/map-panes/eu-countries.js"></script>
 <!-- The map for the index page-->
 <script type="text/javascript" src="../js/Map.js"></script>
 <!-- The modal functionality for the index page -->
 <script type="text/javascript" src="js/countryModal.js"></script>
 <!-- The functionality for the login page -->
 <script type="text/javascript" src="js/login.js"></script>
 <!-- The functionality for the register page-->
 <script type="text/javascript" src="js/register.js"></script>
 <!-- The Functionality for if a suggestion is approved/rejected -->
 <script src="js/admin.js"></script>
 <!-- If the suggestion is approved, this is used to get the geolocation information -->
 <script type="text/javascript" src="js/update.js"></script>
