<div id="Map-Footer">
    <br>
    <h4 class="_14">Follow us on</h4>
    <br>
    <!-- This is all of the social media icons in the footer -->
        <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
    <br>
        <h4 class="_14"> © Copyright 2018 RGU Project Culture </h4>
 </div>
 <!--All the javascript files that we need to run in the footer -->
 <!-- Geojson for all of the countries in the world for suggestions -->
<script type="text/javascript" src="js/countries.geo.json"></script>
<!-- Completely different map for the suggest page so it has a different js file for it -->
<script type="text/javascript" src="js/SuggestMap.js"></script>
<!-- All of the javascript and jquery for the suggestion page functions, adding a suggestion etc.-->
<script type="text/javascript" src="js/Suggest.js"></script>
