<div id="Map-Footer">
    <br>
    <h4 class="_14">Follow us on</h4>
    <br>
        <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
    <br>
        <h4 class="_14"> © Copyright 2018 RGU Project Culture </h4>
 </div>
<script type="text/javascript" src="js/countries.geo.json"></script>
<script type="text/javascript" src="js/SuggestMap.js"></script>
<script type="text/javascript" src="js/Suggest.js"></script>
