/*Sets style for body of the page*/
body{
    height: 100%;
    width: 100%;
}
#body{
      height: 100%;
  width: 100%;

     margin: 0 auto;
  padding: 0;
  background: url(../images/background.jpg);
  background-repeat:no-repeat;
  background-size:100% 100vh;
  font-family: sans-serif;

}
html{
  height: 100%;
}

/* fname and lname exclusively refering to the contact page*/
#fname{}

#lname{}
  #contact-Button{

    border: none;
    outline: none;
    height:auto;
    background: transparent;
    color: white;
    font-size: 18px;
  /*  border-radius: 15px;*/

    border-style: solid;
    border-color: white;
  }
  #contact-Button:hover{

    height:auto;
    background: transparent;
    color: white;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.2);;
    transition: .3s;
  }

.login-box{
    width: 320px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

/*Sets Title style*/
.login-page h1{
  margin:0px;
  text-align: center;
  font-family: "Centaur";
  font-size: 120px;
   -webkit-text-fill-color: #020003;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #7DF9FF;
   text-shadow: 0 0 8px #FFFFFF;
}
/*Sets style for the text in login/register form*/
.login-page h2{
  margin:0;
  padding:0 0 20px;
  text-align: center;
  font-size: 22px;
  color:#fff;

}
/*sets style for login*/
.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
/*Sets style for login/register box */
.login-box input{
  width: 100%;
  margin-bottom: 20px;
}
/*Sets style for text and password inputs*/
.login-box input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
/*Sets style for submit buttons*/
.login-box #submitBtn
{
  border: none;
  outline: none;
  height:40px;
  background: #7DF9FF;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
}

.login-box #submitBtn:hover
{
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

.login-box a
{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-style: italic;

}

.login-box a:hover
{
  color: #39dc79;
}


#Subject-Text{
      height:200px;
      width:100%;
      resize:none;
      background: transparent;
  }
  #dropdown-menu{

    padding-bottom:5px;
    color: white;

  }
  #dropdown-menu select{

      padding: 2px 2px 2px 2px;
      background:#322f30;
      color: white;
      width: 100%;
  }
  #Ctry-Issue{
    color: white;
    background: #322f30;
    border: none;
    cursor: cell;


  }
  #Country-Issue{
    padding-bottom: 5px;


  }
  #button-padding{

    padding-top: 10px;
  }
  #Continent{
      margin-top: 15px;
      margin-left: 10px;
  }

/* Must be at the end of the file */
/*The following media screens will check the users' device width and will alter certain values accordingly*/
/*Screen width of an IPad Pro (Widest mobile screen that will use the site)*/

@media only screen and (max-device-width: 1100px) and (min-device-width: 751px){

  body{
    width: 100%;
    height: 100%;
  }

  h2{
    font-size: 50px;
  }


  .login-box{
  width: 80%;
  height: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  }


  .login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
  }

  .login-box input{
    width: 100%;
    margin-bottom: 20px;
  }



  .login-box input[type="text"], input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 60px;
    color: #fff;
    font-size: 30px;
  }

  .login-box #submitBtn
  {
    border: none;
    outline: none;
    height:70px;
    background: #7DF9FF;
    color: #000;
    font-size: 45px;
    border-radius: 20px;
  }
  .login-box #submitBtn:hover
  {
    cursor: pointer;
    background: #39dc79;
    color: #000;
  }
  #r_submitBtn
  {
    border: none;
    outline: none;
    height:70px;
    background: #7DF9FF;
    color: #000;
    font-size: 45px;
    border-radius: 20px;
  }
  #r_submitBtn:hover
  {
    cursor: pointer;
    background: #39dc79;
    color: #000;
  }

  .login-box a
  {
    text-decoration: none;
    font-size: 35px;
    color: white;
    font-style: italic;

  }

  .login-box a:hover
  {
    color: #39dc79;
  }

}

@media only screen and (max-device-width: 750px) and (min-device-width: 300px){
  #body{
      margin: 0;
      padding: 0;
      background: #322f30;
      background-repeat:no-repeat;
       background-size:100% 100vh;
     font-family: sans-serif;
  }


  h2{
    font-size:40px;
  }


  .login-box{
  width: 80%;
  height: auto;
  top: 45%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px ;
  background: none;
  }

  .login-box p{
    font-size: 22px;
  }


  .login-box input[type="text"], input[type="password"]
  {
    height: 30px;
    font-size: 22px;
  }

  .login-box #submitBtn
  {
    height:30px;
    font-size: 22px;
  }

  .login-box a
  {
    font-size: 22px;
  }
}

@media only screen and (max-width: 800px){

  h2{
    font-size: 50px;
  }
}
