/*.WebContainer{
    width: 100%;
    height: auto;
} */

/*Styles the title to current look */
.pageHeading{
  text-align: center;
  border-bottom: 1px solid black;

}

/*Setting the interactive maps dimensions */
    #map { height:100%;
          width: 100%;

          }

        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;

    width: 80%; /* Full width */
    height: 80%; /* Full height */

    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

svg { stroke-width: npx }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
body{
    margin: 0px;


}

/* Style the Nav Bar Start */
.topnav {
  overflow: hidden;
  background-color: #020003;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    font-family: 'Centaur';
}

.topnav a:hover {
  background-color: #ddd;
  color: #020003;
}

.topnav a.active {
  background-color: #020003;
  color: white;
}
/* Style the Nav Bar End */


h2 {

		/*rgba(25, 157, 210, 0.55)*/
    font-family: 'Centaur';}

p{ font-family: 'Centaur';}

/*Popup modal styling */
.countryModal{
  display:none;          /* Hidden by default */
  position: fixed;      /*Keeps the modal in the same place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  border: 1px solid black; */ /*Created a border for the modal */
  z-index: 99999;           /* Sits it on top of the page, wouldn't normally set the index this high but had issues with the modal displaying over the map*/
  height: 100%;         /* Full height */
  width: 100%;          /* Full width */
  /*overflow:auto; */       /* Enables scroll if/when needed */
  background-color: #322f30;
}

/*Styling for the content in the modal */
.country-modal-content{
  background-color: #322f30;  /*Sets background to white */
  margin: 10%, auto;        /* */
  border: 1px solid black;  /* Border for the content */
  padding: 20px;
  width: 100%;              /* Sets the width to full width */
  height: 100%;             /* Sets the height to full size*/
  color: white;

  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.5); */
    }

/*Styling for the Close button on the modal */
.country-close{
  float:right;      /*Sets the button to the right */
  color: #FF0000;   /*Button colour to red */
  font-size: 50px;  /*Close button size to 50px- Alter in the media screen!!! */
}

/*Styling for when the the user is hovering over the close button */
.country-close:hover, .country-close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*The div that contains the content of the external API*/
.externalDataDisplay{
  display: inline-block;
  /*border: 1px solid black;*/
  width:100%;
  height:15%;
      padding-bottom: 40%;
}

/*The div that will contain the image retrieved from the API */
.extImg{
  display: inline-block;
  position:absolute;
  width: 40%;
  height: 13%;
}

/*The styling of the image*/
.flagImage{
  display: inline-block;
  position: absolute;
  float:left;
  height: 100%;
  width: 100%;
border-radius: 20px;

}

/*The div that will contain the text information retrieved from the API*/
.restAPI{
  display: inline-block;
  text-align: center;
  float:right;
  width: 50%;
  height: 100%;
}

/*Sets the font-size of the text retrieved by the API */
.restName, .restCurrency, .restLanguage{
  /*Default value of the font size */
  font-size: 1em;
}

/*The div that contains the information retrieved from the server */
.internalDataDisplay {
  display: inline-block;
  /*Workaround for the borders of the externalDataDisplay & internalDataDisplay from clashing*/
 /* border-top: 0.25px solid black;
  /*Styling for the rest of the border
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;*/
  width: 100%;
  height: 50%;
}


/*Sets the max size one of the images can be in terms of the div*/
.internalDataDisplay img{
  width: 50%;
     height: 70%;
    padding-left: 5px;
}

.serverContent{
  width: 100%;
  height: 60%;
  display: none;
}

/*Styling for the title of the modal */
#countryTitle {
  text-align: center;
  /*border-bottom: 1px solid black;*/
}
#TitleBar {
    width: 100%;
    height: 8%;
    background-color: "#D46A6A";
    display: inline-block;


}
#TitleBar-Title {
    float: left

}
#Link-Reg {

    float:right;
}


/*The div that contains the first two interactive images*/
.top-Display{
  width: 100%;
  height: 40%;
}

/*The div that contains the last two interactive images*/
.middle-Display{
  width:100%;
  height: 40%;
}

/*Forces the first image to the left of the div*/
.leftAlign{
  float:left;
}

/*Forces the second image to the right of the div*/
.rightAlign{
  float:right;
}

/*The div that contains the return button*/
.bottom-Display{
  width: 100%;
    text-align: center;
    padding-top: 5px;

}

.popReturn{
  display: none;
  width: 100%;
  height: 10%;
  text-align: center;
  float: none;
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

/*Styling for the return button*/
.returnBtn{
  display: inline;
  float: none;
  width: 100%;
  height: 10%;
  text-align: center;
    background-color: transparent;
    border: 2px solid red;
    color: red;
}


/* Must be at the end of the file */
/*The following media screens will check the users' device width and will alter certain values accordingly*/
/*Screen width of an IPad Pro (Widest mobile screen that will use the site)*/
@media screen and (max-width: 1366px){
  /*Alters the size of the text retrieved from the API*/
  h4{
    font-size: 3em;
  }
}

@media screen and (max-width: 1100px){
  /*Alters the size of the text retrieved from the API*/
  h4{
    font-size: 2em;
  }
}

@media screen and (max-width: 800px){
  /*Alters the size of the text retrieved from the API*/
  h4{
    font-size: 1em;
  }
}
