    #map { height: 100%;
          }
        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;   /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: -10px;
    right: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

svg { stroke-width: npx }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

body{
    margin: 0px;
}

h2 {
		/*rgba(25, 157, 210, 0.55)*/
    font-family: 'Centaur';
}

p{
    font-family: 'Centaur';
}

#Country
{
    display: none;
}

/*Popup modal styling */
.countryModal{
  display:none;          /* Hidden by default */
  position: fixed;      /*Keeps the modal in the same place */
  top: 56.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;  /*Created a border for the modal */
  z-index: 99999;           /* Sits it on top of the page, wouldn't normally set the index this high but had issues with the modal displaying over the map*/
  height: 100%;         /* Full height */
  width: 100%;          /* Full width */
  overflow: auto;        /* Enables scroll if/when needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modalDiv{
  height: 100%;
  width: 100%;
}

/*The styling for the tabs on the modal*/
.tabs{
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  font-size: 12px;
  width: 25%;
  top: -10px;
}

/* Change background color of the tabs when hovering over them */
.tabs:hover {
    background-color: #777;
}

/*Styling for the content in the modal */
.country-modal-content{
  padding-top: 5%;
  background-color: #322f30;  /*Sets background to white */
  margin: 10 auto;        /* */
  /*border: 1px solid white;  /* Border for the content */
  border-radius: 40px;
  overflow: auto;
  padding: 20px;
  width: 80%;              /* Sets the width to full width */
  height: 70%;             /* Sets the height to full size*/
  color: white;

  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.5); */
    }

/*Styling for the Close button on the modal */
.country-close{
  float:right;      /*Sets the button to the right */
  color: #FF0000;   /*Button colour to red */
  font-size: 50px;  /*Close button size to 50px- Alter in the media screen!!! */

}

/*Styling for when the the user is hovering over the close button */
.country-close:hover, .country-close:focus{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*The div that contains */
.serverContent{
  width: 100%;
  height: 90%;
}

/*The div that contains the content of the external API*/
.externalDataDisplay{
  display: inline-block;
  width:100%;
  height:25%;
}

/*Sets the constaints of the restAPI div*/
.externalDataDisplay .restAPI{
  width: 50%;
  height: 100%;
}

/*The div that will contain the image retrieved from the API */
.extImg{
  display: inline-block;
  position:absolute;
  width: 37%;
}

/*Setting the image size within the extImg div*/
.extImg img{
  width: 90%;
  height: 15.5%;
}

/*The div that will contain the text information retrieved from the API*/
.restAPI{
  display: flex;
  text-align: center;
  float:right;
  width: 50%;
  height: 24%;
  flex-flow: row wrap;
}

/*Sets the font-size of the text retrieved by the API */
.restName, .restCurrency, .restLanguage{
  /*Default value of the font size */
  font-size: 0.9em;
}

/*The div that contains the information retrieved from the server */
.internalDataDisplay {
  display: inline-block;
  /*Workaround for the borders of the externalDataDisplay & internalDataDisplay from clashing*/
  border-top: 0.50px solid white;
  /*Styling for the rest of the border*/
 border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
  height: 50%;
  overflow: auto;
}

/*Styles the div that will contain the content from the server*/
.serverContent{
  width: 100%;
  height: 90%;
  text-align: justify;
  display: none;
}

/*Styling for the title of the modal */
#countryTitle {
  text-align: center;
}
break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
