<!DOCTYPE html>
<html lang="en">
<head>
<!-- Title of the page, so Admin for admin etc.-->
  <title id="header">Culture!-Admin</title>
  <!-- Load the partial for the head, to load the css, javascript and to set the meta tags-->
  <% include ../partials/head %>
</head>

<!-- Navigation Bar-->
<body>
    <header>
      <!--Include the header so the navigation bar is functional -->
      <% include ../partials/header %>
    </header>

    <div id="body">
      <div class="contentContainer">
        <!--Display the currently selected country-->
        <div id="CountryTitle">
            Country
        </div>


        <section id="adminHeader">

        </section>
    <!--Placeholder function, once fully implemented will display database output dependant on the tab and country selected.-->
        <div id="Customs">
          <!--Dropdown country select-->
              <div id="dropdown">
                <select id="infoUpdate">
                  <!--These are examples, when database is implemented, js will fill this with values -->
                <option value="select">Country</option>
                </select>
              </div>
              <br />
          <p>
          Number of Suggestions for this Country:
          <!-- output the number of enteries in the array for the country chosen-->
          <p id="Suggest_Number"></p>
          </p>
          <br />
          <p>
          Identifier for Suggestion:
          <!--To show the Identifier for the suggestion so either customs, gestures, laws or cultures -->
          <p id="Identifier"></p>
          </p>
          <br />
          <!-- To display the suggestion within this textarea-->
          <textarea class="textArea">This will display the Customs text retrieved from the database
          </textarea>
          <br />
            <p id="Author"></p>
            <!-- To Store the country_id of the suggestion-->
            <p id="country_id" type="text" >
            </p>
        </div>



    <!--Back, Accept, Reject and Next buttons back and next used to cycle through the
  suggestions if more than 1 , approve and reject used to approve or reject the suggestion-->
      <div class="Buttons">
        <a id="back">back</a>
        <button id="Accept">Approve</button>
        <button id="Reject">Reject</button>
        <a id="next">next</a>
      </div>


      </div>
        </div>
<!--Validation script -->

<footer>
  <!--Include the footer partials so the js whithin the footer can run
and also so the footer appears on the site -->
<% include ../partials/footer %>

</footer>
</body>

</html>
