<!DOCTYPE html>
<html lang="en">
<head>

  <title id="header">Culture!</title>
  <% include ../partials/head %>
</head>

<!-- Navigation Bar-->
<body>
    <header>
      <% include ../partials/header %>
    </header>

<div id="body" class="login-page">


    <h1>Culture!</h1>
<div class="login-box">
  <h2>Login</h2>
    <form id="logForm" method="POST">
      <p>Username</p>
      <input type="text" name="username" placeholder="Enter Username" id="userField">
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password" id="passField">
      <input type="button" name="submit" value="Login" id="submitBtn">
      <a href="register.html">Create Account</a>
    </form>

</div>
    </div>
<!--Validation script -->

<footer>
<% include ../partials/footer %>

</footer>
</body>

</html>
