
<html lang="en">
<head>

<% include ../partials/mobile-head %>

  <title id="header">Culture!</title>

</head>
<body>
  <header>
    <% include ../partials/header %>

  </header>
  <section id="countryInfoTesting">
  <!--The Popup Modal-->
  <div id="infoModal" class="countryModal">
  <!--The Close button on the modal-->
  <div class="closeFunction">
    <span class="country-close">&times;</span>
  </div>
  <!-- Modal content -->
  <div class="country-modal-content">
    <!--Modal Title-->
    <h1 id="countryTitle"> Culture! </h1>
    <!--This div sets the constaints for the content retrieved from the API -->
    <div class="externalDataDisplay">
      <!--The country image retrieved from the API-->
      <div class="extImg">
        <img class="flagImage" src=https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg>
      </div>
      <!--The information retrieved from the API-->
      <div class="restAPI">
        <h4 class="restName">  <br></h4>
        <h4 class="restLanguage">Language: ENG GER <br></h4>
        <h4 class="restCurrency">Currency: £$ </h4>
      </div>
    </div>
    <!--This div sets the constraints for the content retrieved from the server-->
    <div class="internalDataDisplay">
      <div class="serverContent">      
      </div>
      <!--Splitting the sections up so that it fits the screen better-->
      <div class="top-Display">
        <img id="customsClick"  class="leftAlign"  src ="images/customs.jpeg">
        <img id="gesturesClick" class="rightAlign" src ="images/gestures.jpeg">
      </div>
      <div class="middle-Display" >
        <img id="cultureClick" class="leftAlign" src ="images/culture.jpeg">
        <img id="lawClick" class="rightAlign" src ="images/law.jpeg">
      </div>
      <!--The modal footer-->
      <div class="bottom-Display">
        <button name="popupReturn" class="popReturn">Back To Menu</button>
        <button name="returnFunction" class="returnBtn">Back To Map</button>
      </div>
    </div>
  </div>
  </div>
  </section>
  <div id="map"></div>
    <footer>

      <% include ../partials/mobile-footer %>
    </footer>
</body>
</html>
