<!DOCTYPE html>
<html lang="en">
<head>

  <title id="header">Culture!-Register</title>
  <!-- Include the partials for the meta tags and all of the css and js -->
  <% include ../partials/head %>
</head>

<!-- Navigation Bar-->
<body>
    <header>
      <!-- Include the partial for the navigation bar for each page-->
      <% include ../partials/header %>
    </header>

    <div id="body" class="login-page">
        <h1>Culture!</h1>
    <div class="login-box">
      <h2>Register</h2>
        <form id="regForm" method="POST">
          <p>Email Address</p>
          <input type="text" name="email" placeholder="Enter E-mail" id="emailField" required>
          <p>Username</p>
          <input type="text" name="username" placeholder="Choose Username" id="userField" required>
          <p>Password</p>
          <input type="password" name="password" placeholder="Choose Password" id="passField" required>

          <input type="button" name="submit" value="Register" id="r_submitBtn">
          <a href="login.html">Already registered? Log in!</a>
        </form>

    </div>
        </div>
<!--Validation script -->

<footer>
<% include ../partials/footer %>

</footer>
</body>

</html>
