
<html lang="en">
<head>

<% include ../partials/Suggest-head %>

  <title id="header">Culture!-Suggest</title>

</head>
<body>
  <header>
    <% include ../partials/header %>

  </header>
    <div id="map"></div>
    <footer>

      <% include ../partials/Suggest-footer %>
    </footer>
</body>
</html>
