<!-- This page uses different partials than the normal pages because the suggest page
uses compeltely different css and javascript for it to run properly -->
<html lang="en">
<head>
<!-- Include the partials for the meta tags and all of the css and js-->
<% include ../partials/Suggest-head %>

  <title id="header">Culture!-Suggest</title>

</head>
<body>
  <header>
    <!-- Include the partial for the navigation bar for each page-->
    <% include ../partials/header %>

  </header>
    <div id="map"></div>
    <footer>

      <% include ../partials/Suggest-footer %>
    </footer>
</body>
</html>
