.WebContainer{
    width: 100%;
    height: auto;
}

    #map { height: 100%;
          }

        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

svg { stroke-width: npx }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
body{
    margin: 0px;


}

h1 {

		/*rgba(25, 157, 210, 0.55)*/
		 font-family: 'Centaur';
		text-shadow: 2px 2px;
		 -o-border-radius:2em;
		  -ms-border-radius:2em;
		  -moz-border-radius:2em;
		  -webkit-border-radius:2em;
		  border-radius:2em;
		  -webkit-text-align:center;
	-moz-text-align:center;
   -ms-text-align:center;
   -o-text-align:center;
		text-align:center;
		background-color: rgba(218,241,252,0.91);
        font-size: 45px;

		/*color:rgba(255,204,51,0.91);*/

		-webkit-text-shadow:4px 4px 4px rgba(255, 69, 0, 0.89);
	-moz-text-shadow:4px 4px 4px rgba(255, 69, 0, 0.89);
   -ms-text-shadow:4px 4px 4px rgba(255, 69, 0, 0.89);
   -o-text-shadow:4px 4px 4px rgba(255, 69, 0, 0.89);
		text-shadow:4px 4px 4px rgba(255, 69, 0, 0.89);

  background: -webkit-radial-gradient(rgba(255, 204, 102, 0.89), rgba(218,241,252,0.91), rgba(58, 132, 223, 0.75));
  background: -o-radial-gradient(rgba(255, 204, 102, 0.89), rgba(218,241,252,0.91), rgba(58, 132, 223, 0.75));
  background: -moz-radial-gradient(rgba(255, 204, 102, 0.89), rgba(218,241,252,0.91), rgba(58, 132, 223, 0.75));
  background: radial-gradient(rgba(255, 204, 102, 0.89), rgba(218,241,252,0.91), rgba(58, 132, 223, 0.75));
		/*rgba(218,241,252,0.91);*/


 /* background:none;
 background: radial-gradient(rgba(255, 204, 102, 0.89), yellow, rgba(72,192,235,1.00));*/
		/*margin-top:0.6em;*/

		margin-top:0em;
		/*margin-bottom:0em;*/
      }

h2 {

		/*rgba(25, 157, 210, 0.55)*/
    font-family: 'Centaur';}

p{ font-family: 'Centaur';}
