.WebContainer{
    width: 100%;
    height: auto;
}

.pageHeading{
  text-align: center;
  border-bottom: 1px solid black;
}

    #map { height:70%;
          width: 100%;
          }

        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

svg { stroke-width: npx }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
body{
    margin: 0px;


}

h2 {

		/*rgba(25, 157, 210, 0.55)*/
    font-family: 'Centaur';}

p{ font-family: 'Centaur';}

.countryModal{
  display:none;          /* Hidden by default */
  position: fixed;      /*Keeps the modal in the same place */
  padding-top: 100px;
  padding-left: 10%;
  padding-bottom: 100%;

  z-index: 99999;           /* Sits it on top of the page */
  left: 0;
  top: 0;
  height: 100%;         /* Full height */
  width: 100%;          /* Full width */
  overflow:auto;        /* Enables scroll if/when needed */
  background-color: rgba(0,0,0,0.9);
}

.country-modal-content{
  background-color: white;
  margin: 10%, auto;
  border: 1px solid #888;
  padding: 20px;
  width: 100%;

  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.5); */
    }

.country-close{
  position:absolute;
  float: right;
  color: #FF0000;
  font-size: 50px;
}

.country-close:hover, .country-close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.externalDataDisplay{
  border: 1px solid black;
}


.flagImage{
  float:left;
  position: relative;
  height: 100px;
  width: 75px;

}

.restAPI{
  float:center;
}
